*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}
.grid{
    width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid plum;
    background: rgb(113, 255, 255);
}
.item{
    background-color: aquamarine;
    text-align: center;
    color: rgb(0, 0, 0);
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr ;
    grid-template-rows: 100px 100px auto;
    gap:10px 5px;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(2,1fr) 3fr;
    grid-template-rows: repeat(5,80px);
}
.grid4{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(5,minmax(100px, auto));
    gap:10px
}
.item1{
    background: pink;
    grid-column: 1/3;
    grid-row: 1; 
}
.grid5{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 100px 500px 300px;
    gap: 0px;
    color: black;
}
.header{
    background: plum;
    grid-column: 1/3;
    grid-row: 1;
}
.nav{
    background: rgb(255, 224, 255);
    grid-column: 1;
    grid-row: 2/4;
}
.main{
    background: #ffff64;
    grid-column: 2;
    grid-row: 2;
}
.footer{
    background: #dada7f;
    grid-column: 2;
    grid-row: 3;
}