*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background: lightskyblue;
     text-align: center;
     margin: 30px;
}

#res{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}