*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: baa 15s ease 0s;
    animation-iteration-count: infinite;
    align-items: center;
    justify-content: center;
}
.divFrase{
    display: block;
    width: 500px;
    height: auto;
    padding: 30px;
    background: black;
    color: white;
    border-radius: 20px;
    opacity: 0.7;
    text-align: center;
}
h1,p{
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
}
.boton{
    display: block;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    background: plum;
    color: white;
    border-radius: 10px;
}
@keyframes baa{
    0%{
        background: url(img/img1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
    }
    20%{
        background: url(img/img2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
    }
    30%{
        background: url(img/img3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
    }
    40%{
        background: url(img/img4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
    }
    50%{
        background: url(img/img5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
    }
    60%{
        background: url(img/img6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
    }
}