*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(209, 201, 212);
    width: 80%;
    margin: auto;
}
header{
    width: 100%;
    background: rgb(240, 199, 234);
    text-align: center;
    border: 1px solid #000;
    margin: 20px auto;
}
.contenedor{
    width: 100%;
    height: 600px;
    background: rgb(250, 230, 239);
}
nav{
    width: 100%;
    height: 300px;
    background: rgb(240, 199, 234);
    border: 1px solid #000;
    margin: 0 1% 20px 0;
    text-align: center;
    float: left;
    padding: 15px;
}
footer{
    width: 100%;
    height: 60px;
    background: lavender;
    border: 1px solid #000;
    margin: 20px auto;
    text-align: center;
    padding: 15px;
}
.secciones{
    width: 70px;
    height: 600px;
    margin: 0%;
    text-align: center;
    float: left;
}
.section{
    width: 100px;
    height: 200px;
    margin: 0 0 10px 0;
    border: 1px solid #000;
    background: lavenderblush;
    text-align: center;
    float: left;
    padding: 15px;
}
article{
    width: 49%;
    height: 100px;
    margin: 0 0 1% 0;
    border: 1px solid #000;
    background: lightcyan;
    text-align: center;
    float: left;
    padding: 15px;
}
.barras{
    width: 49px;
    height: 100%;
    margin: 0 1%;
    text-align: center;
    float: left;
}
aside{
    width: 100px;
    height: 49px;
    margin: 0 0 2% 0;
    border: 1px solid #000;
    background: lightcyan;
    text-align: center;
    float: left;
    padding: 15px;
}
.footer{
    width: 100px;
    height: 50px;
    background: rgb(169, 253, 253);
    border: 1px solid #000;
    margin: 20px auto;
    text-align: center;
    padding: 15px;
}
.zag{
    width: 50%;
    float: right;
}