*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(95, 127, 168);
    color: #fff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
img{
    width: 200;
    height: 200px;
    border-radius: 100%;
}   

ul{
    list-style: none;
}
a{ 
    text-decoration: none;
    color: #fff;
    display: block;
    width: 200px;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid #fff;
}
a:hover{
    box-shadow: 0 0 20px #fff;
    transform: scale(1.1);
}